<div class="vertical-center"><h1>Leaderboard</h1></div>

<div class="container">
  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr>
        <th>Rank</th>
        <th></th>
        <th>Name</th>
        <th>Experience Pts</th>
      </tr>
    </thead>
      <tbody>
        <% count = 1 %>
        <% @users.each do |user| %>
        <tr>
            <td><%= count %></td>
            <% count += 1 %>
            <td><%= gravatar_for user class: %></td>
            <td><%= link_to user.email, user_path(user) %></td>
            <td><%= user.experience %></td>
        </tr>
        <% end %>
        </tr>
      </tbody>
  </table>
</div>
