<div class="vertical-center text-center"><h1>Leaderboard</h1></div>

<body id="forest">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <table class='table text-center', style="background:#ffffff">
          <thead style="background: #333333; color: #ffffff">
            <tr>
              <th style="border:none; text-align:center">Rank</th>
              <th style="border:none; text-align:center"></th>
              <th style="border:none; text-align:center">Name</th>
              <th style="border:none; text-align:center">Experience Pts</th>
            </tr>
          </thead>
            <tbody>
              <% count = 1 %>
              <% @users.each do |user| %>
              <tr>
                  <td style="border:none"><h4><%= count %></h4></td>
                  <% count += 1 %>
                  <td style="border:none"><%= gravatar_for user %></td>
                  <td style="border:none"><h5><%= link_to user.email, user_path(user) %></h5></td>
                  <td style="border:none"><h4><%= user.experience %></h4></td>
              </tr>
              <% end %>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
