<body id="mountain">
</br>
</br>
</br>
<div class="col-md-5", id="slogan">Gamify the technical interview process through coding challenges and progress updates.</div>
<%= render 'layouts/footer' %>
</body>
