@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

.background-cloud {
  background-image: url(/assets/sky_texture.jpg);
}

.background-image {
  padding: 0px 40px 0px 40px;
  background-color: #F5F5DC;
}

.remove-question {
  margin-bottom: 13px;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 170px;
}

.form-back {
  margin-top: 12px;
  margin-right: 8px;
}
