body {
  margin-top: 50px;
}
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}
#mountain {
  background: url(bgimage.jpg) no-repeat center center fixed;
  background-size: cover;
}
.chatbubble {
	background-image: url(chatbubble.png);
	background-size: 100% 100%;
	padding: 10px 0px 10px 40px;

	text-align: center;
	vertical-align: center;
}
