body {
  margin-top: 50px;
}
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}
#mountain {
  background: url(map.png) no-repeat center center fixed;
  background-size: cover;
}
.chatbubble {
	background-image: url(chatbubble.png);
	background-size: 100% 100%;
	padding: 10px 0px 10px 40px;
  text-align: center;
	vertical-align: center;
}

#forest {
  background: url(forest.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#profilebg {
  background: url(profilebg.png) no-repeat center center fixed;
  background-size: cover;
}

#fade {
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

#fade.load {
    opacity: 1;
}
.text-shadow
{
    text-shadow: #ffffff 2px 2px 0.5px;
}

