<ol>
  <% for question in @test.questions %>
  <li><%= h question.content %></li>
  <ul>
    <% for answer in question.answers %>
    <li><%= h answer.content %></li>
    <% end %>
  </ul>
  <% end %>
</ol>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_test_path(@test), class: "btn btn-success" %> |
<% end %>

<%= link_to 'Back', tests_path, class: "btn btn-warning" %>
