<footer class="navbar navbar-fixed-bottom footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><%= link_to 'Create an Account', new_user_session_path %></li>
          <li><%= link_to 'Contact Us', "#" %></li>
          <li><%= link_to 'About', "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
