<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-image">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Contact', '#' %>
      </li>
      <li>
        <%= link_to 'About', page_path('about') %>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <%= link_to 'Made in Seattle', id:"footer-made" %>
      </li>
      <li>
        <%= link_to '© 2013 OfferLetter', id:"footer-copy" %>
      </li>
    </ul>
  </div>
</div>




